:root {
    --backgroundColor: #0D0C0C;
    --borderColor: #161616;
    --strokeColor: #969696;
    --contrastColor: #fff;
    --primaryColor: #E51D25;
    --overlayColor: #111111;
    --maskColor: #737373;
    --readColor: #d9d9d9;
    --unColor: #7e7e7e;
    --radColor: #2f2f2f;
    --returnColor: #c3c3c3;
}